.matchesContainer {
  background-color: #ffffff;
  border-radius: 1px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}


/* Search Section: Input ebong Button ekline-e thakbe */
.searchSection {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-items: center;
}

.searchInput {
  flex: 1;
  height: 45px;
  padding: 0 15px;
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
}


/* Search Section end */


.title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.actions {
  display: flex;
}

.actions button {
  height: 48px;         /* Input-er sathe milie 45px */
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.noMatches {
  color: #666;
  font-style: italic;
  margin-top: 15px;
}

.matchesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 12px;
  margin-top: 10px;
}

.matchCard {
  border: 1px solid #ddd;
  border-radius: 1px;
  padding: 1.5rem;
  text-align: left;
  background-color: #fcfcfc;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.matchItemName {
  font-size: 18px;
  color: black;
  margin-top: 0;
  margin-bottom: 5px;
}

.matchDescription {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 1rem;
}

.matchScore {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.viewDetailsButton {
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  background-color: #03989b;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}
.viewDetailsButton:hover{
 background-color: #144552;
 transform: translateY(-2px);
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.refreshBtn {
  font-size: 14px;
  margin: 0 !important;
  padding: 0 !important;
}