.homeContainer {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.card {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  width: 30%;
}

.cardTitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoSection {
  width: 70%;
 
}

.infoSection h3 {
  color: #555;
  margin-bottom: 1rem;
}

.infoSection ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.infoSection li {
  margin-bottom: 0.8rem;
}

.infoLink {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.infoLink:hover {
  color: #0056b3;
  text-decoration: underline;
}